.App {
  border: 2px solid white;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  margin: auto;
  padding: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #212529;
  display: flex;
}

.main-content {
  margin: auto;
  padding: clamp(10vh, 15px, 15vh);
  vertical-align: top;
  overflow: auto;
  white-space: nowrap;
}

.nes_inline {
  background-color: #212529;
  padding: 1rem;
}

/* Side Panel */
.side-panel{
  display: inline-block;
  height: 759px;
  width: 300px;
  margin: 40px;
  position: relative;
  top: 20px;
}

.wide-button {
  width: 168px;
  float: left;
}

.skinny-button {
  width: 80px;
  float: left;
}

.panel-buttons{
  width: 180px;
  margin: auto;
}

/* Interaction display */
.game-display{
  display: inline-block;
  margin-left: 10px;
}

.message-list{
  height: 650px;
  width: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: pre-wrap;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.message.-left {
  margin-left: 0;
  margin-right: auto;
  width: fit-content;
  max-width: 700px;
  white-space: normal;
}

.message.-right {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  max-width: 600px;
  white-space: normal;
}

.interaction-content {
  white-space: pre-wrap;
}

/* conditional formatting for strings */
.direction-word {
  color:#108de0
}

.feature-word {
  color:#76c442
}

.item-word {
  color:#f2c409
}

.npc-word {
  color:orange
}

.room-word {
  color:#108de0
}