* {
  background-color: #212529;
}

.App {
  width: fit-content;
  margin: auto;
}

.main-content {
  margin: 2vh min(40px, 5vw);
  max-height: 840px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.game-display {
  width: clamp(600px, 55vw, 1000px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 0px;
  font-size: clamp(11px, 0.7vw, 14px);
  padding: 2vw;
  padding-top: 3vw;
}

.side-panel {
  width: clamp(250px, 25vw, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width:875px) {
  .main-content {
    margin-left: 5vw;
    margin-right: 5vw;
    flex-direction: column-reverse;
    max-height: none;
  }

  .side-panel {
    flex-direction: row;
    width: 600px;
  }
}

.panel-button-box {
  padding: 1rem;
  max-width: 400px;
}

.panel-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.wide-button {
  width: clamp(150px, 13vw, 250px);
  height: clamp(35px, 2vw, 60px);
  font-size: clamp(13px, 1vw, 20px);
}

.message-list {
  height: 90%;
  max-height: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: pre-wrap;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.balloon-wrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1vh;
}

.balloon-container-left {
  margin-left: 1.5vw;
  margin-right: auto;
  width: 85%
}

.balloon-container-right {
  margin-left: auto;
  margin-right: 1.5vw;
}

.scroll-button {
  display: none;
}

.interaction-content {
  white-space: pre-wrap;
}

.blue-word {
  font-size: clamp(15px, 0.7vw, 16px);
  font-style: bolder;
  color: #108de0
}

.green-word {
  font-size: clamp(15px, 0.5vw, 16px);
  font-style: bolder;
  color: #76c442
}

.yellow-word {
  font-size: clamp(15px, 0.5vw, 16px);
  font-style: bolder;
  color: #f2c409
}

.orange-word {
  font-size: clamp(15px, 0.5vw, 16px);
  font-style: bolder;
  color: #D95D39
}

.purple-word {
  font-size: clamp(15px, 0.5vw, 16px);
  font-style: bolder;
  color: #B077FF
}

.pink-word {
  font-size: clamp(15px, 0.5vw, 16px);
  font-style: bolder;
  color: pink;
}

.big-word {
  font-size: max(20px, 0.7vw);
  font-style: bolder;
  color: white;
}

.loading-msg {
  color: white;
  font-size: max(20px, 0.7vw);
  margin: auto !important;
  min-width: 200px;
}

.sticky {
  position: sticky;
}

.game-off-text {
  margin-left: auto;
  margin-right: min(175px, 8vw);
  padding: 3px;
  text-align: center;
  white-space: pre-wrap;
  font-size: clamp(10px, 0.5vw, 20px);
}

.game-off-junimo {
  width: min(200px, 15vw);
  float: right;
  margin-top: 25px;
}

.font-small {
  font-size: clamp(10px, 1vw, 14px);
  margin-bottom: 8px;
}

.sample-command {
  color: pink;
  font-weight: bold;
  font-style: oblique;
  font-size: max(13px, 0.2vw);
  margin-bottom: 3px;
}

.new-game-input {
  font-size: 12px;
  background-color: #212529;
  margin-bottom: 2px;
}

.game-logo {
  margin: min(2vw, 3px);
  width: min(80%, 350px);
  padding-bottom: 10px;
}

@media (max-width:875px) {
  .game-logo {
    width: min(80%, 150px);
  }
}

.nes-balloon {
  padding-top: 0.8rem;
}

.footer {
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  color: white;
  margin-left: min(40px, 5vw)
}

.game-off {
  align-items: flex-end;
}

.panel-button-row input {
  font-size: 12px;
}

.nes-select {
  font-size: 12px;
}

.room-word {
  font-size: clamp(10px, 2vw, 18px)
}

.game-stats div {
  width: 75%
}