.App {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  margin: auto;
  padding: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #212529;
}


.nes_inline {
  background-color: #212529;
  padding: 1rem;
}

/* Interaction display */

.message-list{
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.from-left {
  text-align: left;
}

.from-right {
  text-align: right;
}

