
/* General Appearance */

html {
  background-color: #212529;
}

div {
  background-color: #212529;
}

.App {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  margin: auto;
  padding: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #212529;
  min-width: 1200px
}


.nes_inline {
  background-color: #212529;
  padding: 1rem;
}

/* Side Pane */
.side-pane{
  float:left;
  height: 659px;
  width: 250px;
  margin-right: 25px;
}

/* Interaction display */
.game-display{
  float: left
}

.message-list{
  height: 550px;
  width: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.message.-left {
  margin-left: 0;
  margin-right: auto;
  width: fit-content;
  max-width: 600px;
}

.message.-right {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  max-width: 600px;
}